In [2]:
# Pandas intro

# `Series` objects
The `pandas` library contains these useful data structures:
* `Series` objects, that we will discuss now. A `Series` object is 1D array, similar to a column in a spreadsheet (with a column name and row labels).
* `DataFrame` objects. This is a 2D table, similar to a spreadsheet (with column names and row labels).
* `Panel` objects. You can see a `Panel` as a dictionary of `DataFrame`s. These are less used, so we will not discuss them here.

In [5]:
import pandas as pd
import numpy as np

In [6]:
# Creating a Series
s = pd.Series([2, -3, 1, 5])
s

0    2
1   -3
2    1
3    5
dtype: int64

In [10]:
np.exp(s)

0      7.389056
1      0.049787
2      2.718282
3    148.413159
dtype: float64

In [12]:
s + [100,200,300,400]

0    102
1    197
2    301
3    405
dtype: int64

In [13]:
s + 100

0    102
1     97
2    101
3    105
dtype: int64

In [14]:
s < 0

0    False
1     True
2    False
3    False
dtype: bool