In [1]:
using DataFrames

┌ Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
└ @ Base loading.jl:1342

In [2]:
using Statistics

In [3]:
using GLMakie

┌ Info: Precompiling GLMakie [e9467ef8-e4e7-5192-8a1a-b1aee30e663a]
└ @ Base loading.jl:1342

In [4]:
using GLM

┌ Info: Precompiling GLM [38e38edf-8417-5370-95a0-9cbb8c7f171a]
└ @ Base loading.jl:1342

In [5]:


aq = [10.0   8.04  10.0  9.14  10.0   7.46   8.0   6.58
       8.0   6.95   8.0  8.14   8.0   6.77   8.0   5.76
      13.0   7.58  13.0  8.74  13.0  12.74   8.0   7.71
       9.0   8.81   9.0  8.77   9.0   7.11   8.0   8.84
      11.0   8.33  11.0  9.26  11.0   7.81   8.0   8.47
      14.0   9.96  14.0  8.1   14.0   8.84   8.0   7.04
       6.0   7.24   6.0  6.13   6.0   6.08   8.0   5.25
       4.0   4.26   4.0  3.1    4.0   5.39  19.0  12.50 
      12.0  10.84  12.0  9.13  12.0   8.15   8.0   5.56
       7.0   4.82   7.0  7.26   7.0   6.42   8.0   7.91
       5.0   5.68   5.0  4.74   5.0   5.73   8.0   6.89]

11×8 Matrix{Float64}:
 10.0   8.04  10.0  9.14  10.0   7.46   8.0   6.58
  8.0   6.95   8.0  8.14   8.0   6.77   8.0   5.76
 13.0   7.58  13.0  8.74  13.0  12.74   8.0   7.71
  9.0   8.81   9.0  8.77   9.0   7.11   8.0   8.84
 11.0   8.33  11.0  9.26  11.0   7.81   8.0   8.47
 14.0   9.96  14.0  8.1   14.0   8.84   8.0   7.04
  6.0   7.24   6.0  6.13   6.0   6.08   8.0   5.25
  4.0   4.26   4.0  3.1    4.0   5.39  19.0  12.5
 12.0  10.84  12.0  9.13  12.0   8.15   8.0   5.56
  7.0   4.82   7.0  7.26   7.0   6.42   8.0   7.91
  5.0   5.68   5.0  4.74   5.0   5.73   8.0   6.89

In [6]:
df = DataFrame(aq,:auto)

11×8 DataFrame
 Row │ x1       x2       x3       x4       x5       x6       x7       x8
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │    10.0     8.04     10.0     9.14     10.0     7.46      8.0     6.58
   2 │     8.0     6.95      8.0     8.14      8.0     6.77      8.0     5.76
   3 │    13.0     7.58     13.0     8.74     13.0    12.74      8.0     7.71
   4 │     9.0     8.81      9.0     8.77      9.0     7.11      8.0     8.84
   5 │    11.0     8.33     11.0     9.26     11.0     7.81      8.0     8.47
   6 │    14.0     9.96     14.0     8.1      14.0     8.84      8.0     7.04
   7 │     6.0     7.24      6.0     6.13      6.0     6.08      8.0     5.25
   8 │     4.0     4.26      4.0     3.1       4.0     5.39     19.0    12.5
   9 │    12.0    10.84     12.0     9.13     12.0     8.15      8.0     5.56
  10 │     7.0     4.82      7.0     7.26      7.0     6.42      8.0     7.91
  11 │     5.0     5.68      5.0     4.74      5.0     5.73      8.0     6.89

In [7]:
newnames = vec(string.(["x","y"],[1 2 3 4]))

8-element Vector{String}:
 "x1"
 "y1"
 "x2"
 "y2"
 "x3"
 "y3"
 "x4"
 "y4"

In [8]:
rename!(df,newnames)

11×8 DataFrame
 Row │ x1       y1       x2       y2       x3       y3       x4       y4
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │    10.0     8.04     10.0     9.14     10.0     7.46      8.0     6.58
   2 │     8.0     6.95      8.0     8.14      8.0     6.77      8.0     5.76
   3 │    13.0     7.58     13.0     8.74     13.0    12.74      8.0     7.71
   4 │     9.0     8.81      9.0     8.77      9.0     7.11      8.0     8.84
   5 │    11.0     8.33     11.0     9.26     11.0     7.81      8.0     8.47
   6 │    14.0     9.96     14.0     8.1      14.0     8.84      8.0     7.04
   7 │     6.0     7.24      6.0     6.13      6.0     6.08      8.0     5.25
   8 │     4.0     4.26      4.0     3.1       4.0     5.39     19.0    12.5
   9 │    12.0    10.84     12.0     9.13     12.0     8.15      8.0     5.56
  10 │     7.0     4.82      7.0     7.26      7.0     6.42      8.0     7.91
  11 │     5.0     5.68      5.0     4.74      5.0     5.73      8.0     6.89

In [9]:
df.y1

11-element Vector{Float64}:
  8.04
  6.95
  7.58
  8.81
  8.33
  9.96
  7.24
  4.26
 10.84
  4.82
  5.68

In [10]:
df.x1

11-element Vector{Float64}:
 10.0
  8.0
 13.0
  9.0
 11.0
 14.0
  6.0
  4.0
 12.0
  7.0
  5.0

In [11]:
df."y1"

11-element Vector{Float64}:
  8.04
  6.95
  7.58
  8.81
  8.33
  9.96
  7.24
  4.26
 10.84
  4.82
  5.68

In [12]:
df[:,:y1]

11-element Vector{Float64}:
  8.04
  6.95
  7.58
  8.81
  8.33
  9.96
  7.24
  4.26
 10.84
  4.82
  5.68

In [13]:
df[:,"y1"]

11-element Vector{Float64}:
  8.04
  6.95
  7.58
  8.81
  8.33
  9.96
  7.24
  4.26
 10.84
  4.82
  5.68

In [14]:
select!(df,r"x",:)

11×8 DataFrame
 Row │ x1       x2       x3       x4       y1       y2       y3       y4
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │    10.0     10.0     10.0      8.0     8.04     9.14     7.46     6.58
   2 │     8.0      8.0      8.0      8.0     6.95     8.14     6.77     5.76
   3 │    13.0     13.0     13.0      8.0     7.58     8.74    12.74     7.71
   4 │     9.0      9.0      9.0      8.0     8.81     8.77     7.11     8.84
   5 │    11.0     11.0     11.0      8.0     8.33     9.26     7.81     8.47
   6 │    14.0     14.0     14.0      8.0     9.96     8.1      8.84     7.04
   7 │     6.0      6.0      6.0      8.0     7.24     6.13     6.08     5.25
   8 │     4.0      4.0      4.0     19.0     4.26     3.1      5.39    12.5
   9 │    12.0     12.0     12.0      8.0    10.84     9.13     8.15     5.56
  10 │     7.0      7.0      7.0      8.0     4.82     7.26     6.42     7.91
  11 │     5.0      5.0      5.0      8.0     5.68     4.74     5.73     6.89

In [15]:
select!(df,r"y",:)

11×8 DataFrame
 Row │ y1       y2       y3       y4       x1       x2       x3       x4
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │    8.04     9.14     7.46     6.58     10.0     10.0     10.0      8.0
   2 │    6.95     8.14     6.77     5.76      8.0      8.0      8.0      8.0
   3 │    7.58     8.74    12.74     7.71     13.0     13.0     13.0      8.0
   4 │    8.81     8.77     7.11     8.84      9.0      9.0      9.0      8.0
   5 │    8.33     9.26     7.81     8.47     11.0     11.0     11.0      8.0
   6 │    9.96     8.1      8.84     7.04     14.0     14.0     14.0      8.0
   7 │    7.24     6.13     6.08     5.25      6.0      6.0      6.0      8.0
   8 │    4.26     3.1      5.39    12.5       4.0      4.0      4.0     19.0
   9 │   10.84     9.13     8.15     5.56     12.0     12.0     12.0      8.0
  10 │    4.82     7.26     6.42     7.91      7.0      7.0      7.0      8.0
  11 │    5.68     4.74     5.73     6.89      5.0      5.0      5.0      8.0

In [16]:
describe(df)

8×7 DataFrame
 Row │ variable  mean     min      median   max      nmissing  eltype
     │ Symbol    Float64  Float64  Float64  Float64  Int64     DataType
─────┼──────────────────────────────────────────────────────────────────
   1 │ y1        7.50091     4.26     7.58    10.84         0  Float64
   2 │ y2        7.50091     3.1      8.14     9.26         0  Float64
   3 │ y3        7.5         5.39     7.11    12.74         0  Float64
   4 │ y4        7.50091     5.25     7.04    12.5          0  Float64
   5 │ x1        9.0         4.0      9.0     14.0          0  Float64
   6 │ x2        9.0         4.0      9.0     14.0          0  Float64
   7 │ x3        9.0         4.0      9.0     14.0          0  Float64
   8 │ x4        9.0         8.0      8.0     19.0          0  Float64

In [17]:
describe(df,mean => :mean,std => :std)

8×3 DataFrame
 Row │ variable  mean     std
     │ Symbol    Float64  Float64
─────┼────────────────────────────
   1 │ y1        7.50091  2.03157
   2 │ y2        7.50091  2.03166
   3 │ y3        7.5      2.03042
   4 │ y4        7.50091  2.03058
   5 │ x1        9.0      3.31662
   6 │ x2        9.0      3.31662
   7 │ x3        9.0      3.31662
   8 │ x4        9.0      3.31662

In [18]:
describe(df,mean =>"mmm",std => "sigma")

8×3 DataFrame
 Row │ variable  mmm      sigma
     │ Symbol    Float64  Float64
─────┼────────────────────────────
   1 │ y1        7.50091  2.03157
   2 │ y2        7.50091  2.03166
   3 │ y3        7.5      2.03042
   4 │ y4        7.50091  2.03058
   5 │ x1        9.0      3.31662
   6 │ x2        9.0      3.31662
   7 │ x3        9.0      3.31662
   8 │ x4        9.0      3.31662

add a new column id to the data frame

In [19]:
df.id =1:nrow(df)
df

11×9 DataFrame
 Row │ y1       y2       y3       y4       x1       x2       x3       x4       ⋯
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    8.04     9.14     7.46     6.58     10.0     10.0     10.0      8.0  ⋯
   2 │    6.95     8.14     6.77     5.76      8.0      8.0      8.0      8.0
   3 │    7.58     8.74    12.74     7.71     13.0     13.0     13.0      8.0
   4 │    8.81     8.77     7.11     8.84      9.0      9.0      9.0      8.0
   5 │    8.33     9.26     7.81     8.47     11.0     11.0     11.0      8.0  ⋯
   6 │    9.96     8.1      8.84     7.04     14.0     14.0     14.0      8.0
   7 │    7.24     6.13     6.08     5.25      6.0      6.0      6.0      8.0
   8 │    4.26     3.1      5.39    12.5       4.0      4.0      4.0     19.0
   9 │   10.84     9.13     8.15     5.56     12.0     12.0     12.0      8.0  ⋯
  10 │    4.82     7.26     6.42     7.91      7.0      7.0      7.0      8.0
  11 │    5.68     4.74     5.73     6.89      5.0      5.0      5.0      8.0
                                                                1 column omitted

ncol to get the numbetr of columns

In [20]:
ncol(df)

9

In [21]:
select(df,"id",:)

11×9 DataFrame
 Row │ id     y1       y2       y3       y4       x1       x2       x3       x ⋯
     │ Int64  Float64  Float64  Float64  Float64  Float64  Float64  Float64  F ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     1     8.04     9.14     7.46     6.58     10.0     10.0     10.0    ⋯
   2 │     2     6.95     8.14     6.77     5.76      8.0      8.0      8.0
   3 │     3     7.58     8.74    12.74     7.71     13.0     13.0     13.0
   4 │     4     8.81     8.77     7.11     8.84      9.0      9.0      9.0
   5 │     5     8.33     9.26     7.81     8.47     11.0     11.0     11.0    ⋯
   6 │     6     9.96     8.1      8.84     7.04     14.0     14.0     14.0
   7 │     7     7.24     6.13     6.08     5.25      6.0      6.0      6.0
   8 │     8     4.26     3.1      5.39    12.5       4.0      4.0      4.0
   9 │     9    10.84     9.13     8.15     5.56     12.0     12.0     12.0    ⋯
  10 │    10     4.82     7.26     6.42     7.91      7.0      7.0      7.0
  11 │    11     5.68     4.74     5.73     6.89      5.0      5.0      5.0
                                                                1 column omitted

Note that this time `df` data frame was not changed, as `select` makes a copy.

In [22]:
df

11×9 DataFrame
 Row │ y1       y2       y3       y4       x1       x2       x3       x4       ⋯
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    8.04     9.14     7.46     6.58     10.0     10.0     10.0      8.0  ⋯
   2 │    6.95     8.14     6.77     5.76      8.0      8.0      8.0      8.0
   3 │    7.58     8.74    12.74     7.71     13.0     13.0     13.0      8.0
   4 │    8.81     8.77     7.11     8.84      9.0      9.0      9.0      8.0
   5 │    8.33     9.26     7.81     8.47     11.0     11.0     11.0      8.0  ⋯
   6 │    9.96     8.1      8.84     7.04     14.0     14.0     14.0      8.0
   7 │    7.24     6.13     6.08     5.25      6.0      6.0      6.0      8.0
   8 │    4.26     3.1      5.39    12.5       4.0      4.0      4.0     19.0
   9 │   10.84     9.13     8.15     5.56     12.0     12.0     12.0      8.0  ⋯
  10 │    4.82     7.26     6.42     7.91      7.0      7.0      7.0      8.0
  11 │    5.68     4.74     5.73     6.89      5.0      5.0      5.0      8.0
                                                                1 column omitted

It is also easy to transform a data frame back to a matrix using the `Matrix` function.

In [23]:
Matrix(df)

11×9 Matrix{Float64}:
  8.04  9.14   7.46   6.58  10.0  10.0  10.0   8.0   1.0
  6.95  8.14   6.77   5.76   8.0   8.0   8.0   8.0   2.0
  7.58  8.74  12.74   7.71  13.0  13.0  13.0   8.0   3.0
  8.81  8.77   7.11   8.84   9.0   9.0   9.0   8.0   4.0
  8.33  9.26   7.81   8.47  11.0  11.0  11.0   8.0   5.0
  9.96  8.1    8.84   7.04  14.0  14.0  14.0   8.0   6.0
  7.24  6.13   6.08   5.25   6.0   6.0   6.0   8.0   7.0
  4.26  3.1    5.39  12.5    4.0   4.0   4.0  19.0   8.0
 10.84  9.13   8.15   5.56  12.0  12.0  12.0   8.0   9.0
  4.82  7.26   6.42   7.91   7.0   7.0   7.0   8.0  10.0
  5.68  4.74   5.73   6.89   5.0   5.0   5.0   8.0  11.0

In [24]:
df # while df does not change

11×9 DataFrame
 Row │ y1       y2       y3       y4       x1       x2       x3       x4       ⋯
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    8.04     9.14     7.46     6.58     10.0     10.0     10.0      8.0  ⋯
   2 │    6.95     8.14     6.77     5.76      8.0      8.0      8.0      8.0
   3 │    7.58     8.74    12.74     7.71     13.0     13.0     13.0      8.0
   4 │    8.81     8.77     7.11     8.84      9.0      9.0      9.0      8.0
   5 │    8.33     9.26     7.81     8.47     11.0     11.0     11.0      8.0  ⋯
   6 │    9.96     8.1      8.84     7.04     14.0     14.0     14.0      8.0
   7 │    7.24     6.13     6.08     5.25      6.0      6.0      6.0      8.0
   8 │    4.26     3.1      5.39    12.5       4.0      4.0      4.0     19.0
   9 │   10.84     9.13     8.15     5.56     12.0     12.0     12.0      8.0  ⋯
  10 │    4.82     7.26     6.42     7.91      7.0      7.0      7.0      8.0
  11 │    5.68     4.74     5.73     6.89      5.0      5.0      5.0      8.0
                                                                1 column omitted

In [25]:
xlim = collect(extrema(Matrix(select(df, r"x"))) .+ (-1, 1))

2-element Vector{Float64}:
  3.0
 20.0

In [26]:
xlim = collect(extrema(Matrix(select(df, r"x"))) .+ (-1, 1))

2-element Vector{Float64}:
  3.0
 20.0

In [27]:
ylim = collect(extrema(Matrix(select(df, r"y"))) .+ (-1, 1))

2-element Vector{Float64}:
  2.1
 13.74

In [28]:
# fig, axs = plt.subplots(2, 2)
# fig.tight_layout(pad=4.0)
# for i in 1:4
#     x = Symbol("x", i)
#     y = Symbol("y", i)
#     model = lm(term(y)~term(x), df)
#     axs[i].plot(xlim, predict(model, DataFrame(x => xlim)), color="orange")
#     axs[i].scatter(df[:, x], df[:, y])
#     axs[i].set_xlim(xlim)
#     axs[i].set_ylim(ylim)
#     axs[i].set_xlabel("x$i")
#     axs[i].set_ylabel("y$i")
#     a, b = round.(coef(model), digits=2)
#     c = round(100 * r2(model), digits=2)
#     axs[i].set_title(string("R²=$c%, $y=$a+$b$x"))
# end

First, it is easy to create a data frame from variables holding column names and values using `=>`. Here is one more example how this functionality can be used:

In [29]:
x =:var1
y =:var2
xc =1:3
yc = 4:6
DataFrame(x=>xc,y=>yc)

3×2 DataFrame
 Row │ var1   var2
     │ Int64  Int64
─────┼──────────────
   1 │     1      4
   2 │     2      5
   3 │     3      6

In [30]:
DataFrame(var1=xc,var=yc)

3×2 DataFrame
 Row │ var1   var
     │ Int64  Int64
─────┼──────────────
   1 │     1      4
   2 │     2      5
   3 │     3      6

In [31]:
df.x1,df[:,:x1]

([10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0], [10.0, 8.0, 13.0, 9.0, 11.0, 14.0, 6.0, 4.0, 12.0, 7.0, 5.0])

In [32]:
n =:x1
v = df[!,n]

11-element Vector{Float64}:
 10.0
  8.0
 13.0
  9.0
 11.0
 14.0
  6.0
  4.0
 12.0
  7.0
  5.0

In [33]:
v === df.x1

true