# Conventional power plants

- [Data : List of conventional power plants in Germany and European countries](https://data.open-power-system-data.org/conventional_power_plants/2020-10-01)

- [Conventional Power Plants: Main notebook](https://nbviewer.org/github/Open-Power-System-Data/conventional_power_plants/blob/2020-10-01/main.ipynb)


### This datapackage contains data on conventional power plants for Germany as well as other selected European countries. The data includes individual power plants with their technical characteristics. These include installed capacity, main energy source, type of technology, CHP capability, and geographical information. The geographical scope is primarily on Germany and its neighboring countries. The datapackage currently covers Germany, Austria, Belgium, Switzerland, Czech Republic, Denmark, Spain, Finland, France, Italy, the Netherlands, Norway, Poland, Sweden, Slovakia, Slovenia, and United Kingdom. Due to varying data quality of publicly available data, not all information can be provided for each country. Sources for European countries comprise detailed power plants lists from national institutions, ministries, or market participants as well as manually compiled lists of power plants for countries without a system-wide power plant list. All data processing is conducted in Python and pandas, and has been documented in the Jupyter Notebooks linked below.

In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("./conventional_power_plants_EU_filtered.csv")

In [3]:
df.head()

,name,company,street,postcode,city,country,capacity,energy_source,technology,chp,...,type,lat,lon,eic_code,energy_source_level_1,energy_source_level_2,energy_source_level_3,additional_info,comment,source
0,Marcinelle Energie (Carsid),DIRECT ENERGIE,NaN,NaN,NaN,BE,413.0,Natural gas,Combined cycle,NaN,...,NaN,50.41396,4.40645,22WMARCIN000179H,Fossil fuels,Natural gas,NaN,NaN,NaN,https://www.elia.be/en/grid-data/power-generat...
1,Aalst Syral GT,Electrabel,NaN,NaN,NaN,BE,43.0,Natural gas,Gas turbine,Yes,...,CHP/IPP,NaN,NaN,NaN,Fossil fuels,Natural gas,NaN,NaN,NaN,https://www.elia.be/en/grid-data/power-generat...
2,Aalst Syral ST,Electrabel,NaN,NaN,NaN,BE,5.0,Natural gas,Steam turbine,Yes,...,CHP/IPP,NaN,NaN,NaN,Fossil fuels,Natural gas,NaN,NaN,NaN,https://www.elia.be/en/grid-data/power-generat...
3,AALTER TJ,Electrabel,NaN,NaN,NaN,BE,18.0,Oil,Gas turbine,NaN,...,NaN,NaN,NaN,NaN,Fossil fuels,Oil,NaN,NaN,NaN,https://www.elia.be/en/grid-data/power-generat...
4,Amercoeur 1 R TGV,Electrabel,NaN,NaN,NaN,BE,451.0,Natural gas,Combined cycle,NaN,...,NaN,50.43004,4.39518,22WAMERCO000010Y,Fossil fuels,Natural gas,NaN,NaN,NaN,https://www.elia.be/en/grid-data/power-generat...

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
capacity,5923.0,99.013122,238.110816,0.000000,1.500000,12.00000,70.00000,3446.000000
commissioned,4854.0,1981.136588,28.291739,1899.000000,1962.000000,1987.00000,2006.00000,2020.000000
lat,2781.0,49.067798,4.981134,36.183459,46.410160,48.66046,51.53482,67.729796
lon,2781.0,8.133723,7.069562,-8.849735,6.321111,8.45294,11.58636,30.426259

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5945 entries, 0 to 5944
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name                   5945 non-null   object
 1   company                4420 non-null   object
 2   street                 940 non-null    object
 3   postcode               4030 non-null   object
 4   city                   4974 non-null   object
 5   country                5945 non-null   object
 6   capacity               5923 non-null   float64
 7   energy_source          5943 non-null   object
 8   technology             4962 non-null   object
 9   chp                    1094 non-null   object
 10  commissioned           4854 non-null   float64
 11  type                   271 non-null    object
 12  lat                    2781 non-null   float64
 13  lon                    2781 non-null   float64
 14  eic_code               993 non-null    object
 15  energy_source_level_1  5939 non-null   object
 16  energy_source_level_2  5814 non-null   object
 17  energy_source_level_3  156 non-null    object
 18  additional_info        1925 non-null   object
 19  comment                260 non-null    object
 20  source                 5945 non-null   object
dtypes: float64(4), object(17)
memory usage: 975.5+ KB